<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <form action="/add_employee" method="POST">
        Enter ID : <input type="number" name="eid" id="" required><br><br>
        Enter Name : <input type="text" name="ename" id="" required><br><br>
        Enter Department : <input type="text" name="edept" id="" required><br><br>
        Enter Salary : <input type="number" name="esalary" id="" required><br><br>
        Enter Phone : <input type="number" name="ephone" id="" required><br><br>
        <input type="submit" value="Add_Employee">
    </form>
</body>
</html>